card-form {
        width: 100%;
        margin: 50px auto;
        border: 1px solid #e3e6f0;
        border-radius: 5px;
        background-color: #ffffff; /* Fondo blanco del formulario */
    }

    .form-header {
        background-color: #f8f9fc; /* Fondo claro */
        padding: 15px;
        border-bottom: 1px solid #e3e6f0; /* Borde inferior */
        font-size: 18px;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .error-message {
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px;
        margin: 10px 15px; /* Añade margen para separar */
        border: 1px solid #e3e6f0; /* Borde para diferenciar */
        border-radius: 5px;
    }

    .form-section {
        padding: 15px; /* Añade espacio entre el mensaje y el contenido */
    }

    .form-buttons {
        background-color: #f8f9fc; /* Fondo claro, igual al encabezado */
        border-top: 1px solid #e3e6f0;
        padding: 15px;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .form-buttons button {
        padding: 10px 20px;
        border-radius: 5px;
    }
    .accepted-cards {
    background-color: #747474; 
    padding: 10px;
    border-radius: 5px; 
    border: 1px solid #ddd;
    display: inline-block;
    margin-top: 5px;
    margin-right: 100px;
}